*{
    background-color: rgb(49, 67, 83);
    
    
}

body{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid;
}

body div{
      height: 50vh;
      width: 100%;
      display: block;
      align-items: center;
      justify-content: center;
      border: 10px solid;
      
}

body h1{
           color: aqua;
           font-size: 1.8rem;
}

body form{

    display: block;
    
    color: bisque;
    font-size: 1.2rem;
    height: 50px;

}

form .submit-button{
    display: flex;
    margin-top: 2rem;
    margin-left: 6rem;
    padding-right: 5rem;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-radius: 3rem;
    background-color: aqua;
    height: 2rem;
    font-size: 1.3rem;
    align-content: center;
}

